<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Example of usage.</title>
    <script src="../../jquery-3.0.0.min.js"></script>
    <script src="../../mgr.extends.js"></script>
    <script src="../../mgr.dictionaries.js"></script>
    <script src="../../mgr.binding.js"></script>
    <script src="../../mgr.view.js"></script>
</head>
<body>
<h1>It's only example for views engine.</h1>
<h5>viewManager.renderView('first');</h5>
<h5>viewManager.renderView('second');</h5>
<h5>viewManager.renderView('second',false,{a:123});
</h5>
<div id="mgrapp">
</div>
<script type="text/javascript">
    var v1 = new View("first", function (scope) {
        console.log('view1');
        scope.viewName = "first";
    }, "first.html", true);
    var v2 = new View("second", function (scope, urlParams) {
        console.log('view2');
        console.log('urlParams:');
        console.log(urlParams);
        scope.viewName = "second";

    }, "second.html",false);

    //this one is not implemented in purpose
    /*var v3 = new View("third", function () {
     console.log('view3')
     }, "third.html");*/

    mgrStart();

</script>
</body>

</html>
